<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

.highlight{
color:red;
font-weight:bold;
}

</style>
</head>

<body>

<video id="video" width="800" controls>
<source src="/video">
</video>

<div id="subtitle"></div>

<script>

let video = document.getElementById("video")

fetch("/subtitle")
.then(r=>r.json())
.then(data=>{

video.ontimeupdate = function(){

let t = video.currentTime

for(let s of data){

if(t>=s.start && t<=s.end){

document.getElementById("subtitle").innerHTML = s.sentence

}

}

}

})

</script>

</body>
</html>